/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, blockquote, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: rgb(18, 12, 12);
    background-image: url('bg1.jpg'); /* Replace with your image path */
    background-size: cover; /* Adjusts the background image to cover the entire background */
    background-position: center; /* Centers the background image */
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header styles */
header {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #f00; /* Change color on hover */
}

/* Main styles */
main {
    padding: 40px 0;
    text-align: center;
}

/* Quote Container styles */
.quote-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.quote {
    font-style: italic;
    font-size: 18px;
    margin-top: 20px;
}

.author {
    font-weight: bold;
    margin-top: 10px;
}

/* Contact Me Section styles */
.contact-section {
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.contact-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.social-icons a:hover {
    background-color: #f00;
}

.cv-button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cv-button a {
    text-decoration: none;
    color: #fff;
}

.cv-button:hover {
    background-color: #f00;
}

